
HIK-Set.sln
bin/app.publish/Hikvision-Set.exe
bin/HIK-Set.ini
bin/Hikvision-Set.application
bin/Hikvision-Set - Copy.ini
bin/Hikvision-Set.exe.manifest
bin/HCNetSDK-6.1.6.3.zip
bin/HIK-Set.exe
bin/Hikvision-Set.exe.config
bin/Hikvision-Set.exe.manifest
